* {
  box-sizing: border-box;
}

html,
body,
section {
  max-width: 768px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Fabriga', -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background-color: #f4f4f4;
}

.bg-base {
  background-color: #f4f4f4;
}

h2 {
  margin: 2em 0 1.5em;
  text-align: center;
}

h3 {
  margin: 1em 0 0 1em;
  font-weight: 700;
}

button {
  border: none;
  padding: 0.8em;
  font-size: 0.8em;
  margin: 0 0.8em 0 0;
  background-color: white;
  border: 1px solid #aaa;
  cursor: pointer;
}

button:hover {
  background-color: #f4f4f4;
}

fieldset {
  border: none;
}

label {
  display: block;
  margin-bottom: 0.3rem;
}

input {
  font-size: 1em;
}

.container {
  padding: 1em;
}

.extra-info {
  text-align: center;
}

.extra-info-input {
  text-align: center;
  padding: 0.8em 0.3em;
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.result {
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  margin: 0 1em;
  background-color: #fff;
}

.result p {
  margin: 1em;
}

.error {
  color: #ff4136;
}

.hidden {
  display: none;
}

.actions {
  margin: 2em 1em 1.5em;
}

.payment-popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content-center {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.general-btn {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  border-width: 0.125rem;
  border-radius: 0.25rem;
  border-style: solid;
}
.btn-cancel {
  color: #fff;
  border-color: #ff4c4c;
  background-color: #ff4c4c;
}

.btn-success {
  color: #134cd8;
  border-color: #eef3f7;
  background-color: #eef3f7;
}

.btn-cancel:hover {
  border-color: #e13232;
  background-color: #e13232;
}

.btn-success:hover {
  border-color: #dbe9fd;
  background-color: #dbe9fd;
}

.c-on-action-secondary {
  color: #134cd8;
}

.b--action-primary {
  border-color: #134cd8;
}

.bg-action-primary {
  background-color: #134cd8;
}

.c-action-primary {
  color: #134cd8;
}
